<div class="extra-search" id="search-form" ng-class="{'focused':focused}" ng-mouseover="over=true" ng-mouseleave="over=false">
	<ul>
		<li class="es-icon" ng-if="::(!allowedType)">
			<i class="icon" data-glyph="search"></i>
		</li>
		<li ng-repeat="(i,key) in keys" bindonce class="es-key key-{{::key.key}}" ng-class="{'active' : i == keys.length-1 && editMode}">
			<a href="" class="es-close" ng-click="actions.remove(i)">&times;</a>
			<span class="es-wrap">
				<span bo-switch="key.key">
					<img class="es-ico" bo-src="'https://www.google.com/s2/favicons?domain='+key.q" alt="" bo-switch-when="domain" />
					<i class="es-ico icon" data-glyph="tag" bo-switch-when="tag"></i>
					<i class="es-ico icon" data-glyph="article" bo-switch-when="type" bo-show="key.val=='article'"></i>
					<i class="es-ico icon" data-glyph="link" bo-switch-when="type" bo-show="key.val=='link'"></i>
					<i class="es-ico icon" data-glyph="video" bo-switch-when="type" bo-show="key.val=='video'"></i>
					<i class="es-ico icon" data-glyph="image" bo-switch-when="type" bo-show="key.val=='image'"></i>

					<i class="es-ico icon" data-glyph="folder" bo-switch-when="collection"></i>
				</span>
				<a ui-sref="collection.index({cid: $parent.$parent.$state.params.cid, q:''})" bo-if="key.key=='collection'" bo-text="key.q"></a>
				<span bo-if="key.key!='collection'" bo-text="key.q"></span>
			</span>
		</li>

		<li class="es-input"><form ng-submit="actions.add(true)">
			<input type="search" ng-model="key" placeholder="{{::placeholder}}" size="{{key.length > 0 ? key.length+2 : placeholder.length+1}}" ui-keyup="{',': 'actions.add()', 'backspace': 'actions.back()', 'down': 'complete.down()', 'up': 'complete.up()'}" ng-keyup="actions.check()" ng-keypress="actions.reset()" ng-focus="focused=true; complete.setMode(true);" ng-click="keyoninput=true; complete.setMode(true);" ng-blur="focused=false; keyoninput=false; actions.add();  complete.setMode(false);" />
		</form></li>
		<li class="clear"></li>
	</ul>
	<div class="clear"></div>

	<div class="extra-complete-wrap" ng-show="focused && keyoninput">
		<menu class="extra-complete">
			<li ng-repeat="item in complete.count = ( autocomplete | filter: key | orderBy: ['type','-count'])" bindonce class="ec-item" ng-class="{'active':$index==complete.index}" ng-mousedown="complete.setKey(item.val)">
					<span class="ce-icon" bo-switch="item.type">
						<b class="ce-icon" bo-switch-when="0" bo-switch="item._id">
							<i class="icon" data-glyph="article" aria-hidden="true" bo-switch-when="article"></i>
							<i class="icon" data-glyph="link" aria-hidden="true" bo-switch-when="link"></i>
							<i class="icon" data-glyph="video" aria-hidden="true" bo-switch-when="video"></i>
							<i class="icon" data-glyph="image" aria-hidden="true" bo-switch-when="image"></i>
						</b>
						<i class="icon" data-glyph="tag" bo-switch-when="1"></i>
						<img class="favicon" bo-src="'https://www.google.com/s2/favicons?domain='+item._id" alt="" width="16" height="16" bo-switch-when="2" />
					</span>
				<span bo-text="item.title" style="width:100%"></span>
				<span class="ce-count" bo-text="item.count"></span>
			</li>
		</menu>
	</div>
</div>