<div id="modal-edit-bookmark" class="modal-padding" style="padding-top:0" ng-controller="Bookmark">
	<div drop-cover="worker.dropCover" covers="form.media">
	<div class="cover-slider" ng-class="{'invisible':!(form.cover>=0)}">
		<div class="cell">
			<a href="" tab-index="4" class="icon" data-glyph="left" ng-click="worker.left()" ng-class="{'invisible':!form.coverEnabled || form.media.length<2}"></a>
		</div>
		<div class="cell cell-max">
			<img ng-repeat="(k,cover) in form.media" ng-if="form.cover==k && cover.link" ng-src="{{cover.link|fixURL}}" class="cover-item" alt="" />

			<a href="" tab-index="5" class="make-screenshot" ng-show="form.cover==form.media.length-1 && form.haveScreenshot==false && worker.screenshotLoading==false" ng-click="worker.capturePage()"></a>
			<span ng-show="form.cover==form.media.length-1 && form.haveScreenshot==false && worker.screenshotLoading==true"><span class="spinner"><img src="img/icon-loading.png" alt="" /></span></span>
		</div>
		<div class="cell">
			<a href="" tab-index="3" class="icon" data-glyph="right" ng-click="worker.right()" ng-class="{'invisible':!form.coverEnabled || form.media.length<2}"></a>
		</div>
	</div>
	</div>

	<form ng-submit="worker.save()">
		<h6 class="caption" trans="title"></h6>
		<div class="edit-form-block" style="min-height: 24px;">
			<textarea list="" class="input-on-black form-title" required tab-index="6" msd-elastic ng-model="form.title" placeholder="{{'enterTitle'|translate}}" maxlength="100" autofocus></textarea>
		</div>

		
		<h6 class="caption" trans="description"></h6>
		<div class="edit-form-block" style="min-height: 21px;">
			<textarea list="" class="input-on-black form-description" tab-index="7" msd-elastic ng-model="form.excerpt" placeholder="{{'enterDescription'|translate}}" maxlength="100"></textarea>
		</div>

		<h6 class="caption" trans="type"></h6>
		<div class="edit-form-block">
			<div class="icon-switch">
				<a href="" ng-click="form.type='link'" ng-class="{'active':form.type=='link'}"><img src="img/icon-link-white.png" height="16" alt="" /></a>
				<a href="" ng-click="form.type='article'" ng-class="{'active':form.type=='article'}"><img src="img/icon-article-white.png" height="16" alt="" /></a>
				<a href="" ng-click="form.type='image'" ng-class="{'active':form.type=='image'}"><img src="img/icon-image-white.png" height="16" alt="" /></a>
				<a href="" ng-click="form.type='video'" ng-class="{'active':form.type=='video'}"><img src="img/icon-video-white.png" height="16" alt="" /></a>
			</div>
		</div>

		<h6 class="caption" trans="tags"></h6>
		<div class="edit-form-block">
			<extra-search ng-if="!worker.loading" class="" keys="form.tags" allowed-type="tag" placeholder="addTag" autocomplete="complete.tags" key="worker.tag" focused="worker.tagFocused"></extra-search>
		</div>

		
		<h6 class="caption">
			<ul class="mini-changer pull-right">
				<li ng-class="{'active':worker.collectionMode=='select'}" ng-click="worker.collectionMode='select'; worker.changed=true;">{{'select'|translate}}</li></li>
				<li ng-class="{'active':worker.collectionMode=='create'}" ng-click="worker.collectionMode='create'; worker.changed=true;">{{'create'|translate}}</li></li>
			</ul>
			<div trans="collection"></div><div class="clear"></div>
		</h6>
		<div class="edit-form-block" ng-switch="worker.collectionMode" disable-animate>
			<div ng-switch-when="select">
				<!--i class="icon" data-glyph="collection-cover" background-cover="collections.getById(form.collectionId).cover[0]" background-cover-watch="true"></i>
				<select required tab-index="8" class="select-padding" ng-model="form.collectionId">
					<option value="-1" trans="defaultCollection--1"></option>
					<optgroup ng-repeat="items in collections.items | orderBy:'sort'" label="{{items.title}}">
						<option ng-repeat="item in items.collections" value="{{item._id}}" ng-selected="form.collectionId==item._id">{{item.title}}</option>
					</optgroup>
					<option value="-99" trans="defaultCollection--99" ng-if="form.collectionId==-99"></option>
				</select-->

				<a href="" class="extra-select" data-color="default" ng-click="worker.showParentsNow(true)" ng-hide="worker.showParents" style="display:block;padding:0">
					<div class="es-in">
						<i class="icon" data-glyph="collection-cover" background-cover="worker.collection.cover[0]" background-cover-watch="true"
								style="vertical-align: -3px;margin-right: 4px;margin-left: 2px;"></i>
						{{worker.collection.title}}
					</div>
				</a>
				<select-collection data-base="collections.items"
								   data-disable-groups="true"
								   data-show-system-collections="true"
								   data-parent="form.collection"
								   data-disable-id="0"
								   data-enable-collections="true"
								   ng-show="worker.showParents"
						></select-collection>
			</div>

			<input class="extra input-on-black" type="text" autofocus focus-element="select" ng-switch-when="create" ng-model="worker.collectionText" trans="createCollection" trans-attr="placeholder" required />
		</div>


		<div class="table table-max table-middle">
			<div class="cell cell-max center">
				<input tab-index="9" class="btn" style="display:block;width:100%;" data-color="green" autofocus type="submit" trans="saveChanges" trans-attr="value" ng-hide="worker.loading" /><!--ng-disabled="!worker.changed" -->
				<span ng-show="worker.loading" style="display:inline-block;height:31px;">
                    <span class="spinner"><img src="img/icon-loading.png" alt="" /></span>
                </span>
			</div>
			<div class="cell center" ng-show="form.id" style="padding-left:12px;">
				<a href="" ng-click="worker.removeItem();" tab-index="10" class="icon" data-glyph="remove"></a>
			</div>
		</div>

		<br>
	</form>
</div>