<div class="modal-padding" style="padding-top:0">
    <h1 class="caption" trans="moveSelectedBookmarks"></h1>
    <h6 class="caption" trans="selectCollection"></h6><br>

    <select-collection data-base="collections.items"
                       data-disable-groups="true"
                       data-show-system-collections="true"
                       data-parent="collection"
                       data-disable-id="0"
                       data-enable-collections="true"
            ></select-collection>

    <br>
</div>