<div class="modal-padding">
    <h1 class="caption" trans="view"></h1>
    <br>

    <div class="icon-switch">
        <a href="" style="  padding: 16px 0px;" ng-class="{'active': (collections.current.view=='grid' || collections.current.view=='masonry')}" ng-click="collections.setView('grid')"><img src="img/icon-view-grid.png" height="32" alt="" /></a>
        <a href="" ng-class="{'active': collections.current.view=='list'}" ng-click="collections.setView('list')"><img src="img/icon-view-list.png" height="32" alt="" /></a>
        <a href="" ng-class="{'active': collections.current.view=='simple'}" ng-click="collections.setView('simple')"><img src="img/icon-view-simple.png" height="32" alt="" /></a>
    </div>
</div>