{
    "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        ["transform-runtime", {
          "regenerator": true
        }]
    ],
	"env": {
		"production": {
			"plugins": [
				"lodash",
				"babel-plugin-transform-remove-console",
				"babel-plugin-transform-remove-debugger"
			]
		},
		"development": {
			"presets": ["react-hmre"]
		}
	}
}