<h2 trans="configPage"></h2>

<div class="block">
	<div class="row">
		<multi-select
			id="collectionsSelect"
		    input-model="data.items"    
		    button-label="folder"
		    item-label="folder"
		    tick-property="ticked"
		    max-labels="2"
		>
		</multi-select>

		<div class="borderbox" ng-click="data.removeDublicates = !data.removeDublicates">
			<span class="switch" ng-class="{'active':data.removeDublicates}"></span>
			<img src="img/bookmark.png" width="9" height="16" style="padding:3px 6px;padding-right:7px;box-sizing:content-box;" alt="" />
			<span trans="removeDublicates"></span>
		</div>

		<br>

		<a href="#/start" class="button pink" trans="start"></a>

		<Br>
		<center>
			<a href="#/" trans="cancel" class="simple-link"></a>
		</center>
	</div>
</div>