<div class="block">
    <div class="row">
        <div class="warning-block" trans="resetDataWarning"></div>

        <br>
        <center ng-switch="step">
            <div ng-switch-default>
                <a href="" class="button pink" trans="resetDataYes" ng-click="startReset()"></a>
            </div>
            <div ng-switch-when="working">
                <span class="spinner"><img src="img/loading.png" alt="" /></span>
            </div>
            <div ng-switch-when="done">
                <span trans="resetDone"></span>
            </div>
        </center>

        <Br>
        <center>
            <a href="#/" trans="goBack" class="simple-link"></a>
        </center>
    </div>
</div>