body {
    background: white;
}

.e-desktop-show {
    display: block !important;
}

.e-desktop-hide {
    display:none;
}

.e-desktop-hide[data-glyph="close"] {
    display: inline-block;
    visibility: hidden;
    margin-right: -52px !important;
}


.desktop-drag-over {
    position: relative;
}
.desktop-drag-over:before {
    transition: box-shadow .2s ease-in-out, background .2s ease-in-out;
    box-shadow: inset 0px 0px 0px 2px #4B99F3;
    position: absolute;
    top:0;left:0;width:100%;height:100%;
    background: rgba(75,153,243,.3);
    content: " ";
    z-index: 99;
    pointer-events: none;
}