<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Raindrop.io Extension</title>
	<meta name="google" value="notranslate" />
	<meta http-equiv="cleartype" content="on" />
</head>
<body>
	<div id="app"></div>
</body>
</html>