<div class="ok-button"><a href="" class="btn" data-color="dark" ng-click="ads.close()">OK</a></div>
<div ng-switch="ads.lang">
    <div class="light pull-right" style="margin-right: 46px;" ng-switch-when="ru_RU"><b>Android версия</b><br> уже доступна<br> для <a href="https://play.google.com/store/apps/details?id=io.raindrop.raindropio" desktop-browser target="_blank">смартфона<br> и планшета</a>.</div>

    <div class="light pull-right" style="margin-right: 44px;" ng-switch-default><b>Android version</b><br> now available<br> for <a href="https://play.google.com/store/apps/details?id=io.raindrop.raindropio" desktop-browser target="_blank">smartphone<br> and tablet</a>.</div>
</div>