<div class="ok-button" style="z-index:10"><a href="" class="btn" data-color="dark" ng-click="ads.close()">OK</a></div>
<div ng-switch="ads.lang" style="margin-right:-6px;">
	<div class="pull-right" ng-switch-when="ru_RU">
		<b class="light">Наполняйте коллекции <br><b>совместно</b></b>
		<div class="sub-title" style="font-size: 11px;margin-top:5px;">Просто откройте<br> доступ друзьям<br> и коллегам</div>
	</div>

	<div class="pull-right" ng-switch-default>
		<b class="light"><b>Collaborate</b> with friends<br>and colleagues</b>
		<div class="sub-title" style="font-size: 11px;margin-top:5px;">Just add new member<br>to collection</div>
	</div>
</div>