<div class="ok-button"><a href="" class="btn" data-color="dark" ng-click="ads.close('2mobile')">OK</a></div>
<div ng-switch="ads.lang">
	<div class="light pull-right" ng-switch-when="ru_RU" style="font-size: 14px;margin-right: -2px;">Ваши закладки доступны<br> также с <b>компьютера</b><br> и <b>смартфона</b></div>
	<div class="light pull-right" style="margin-right: 19px;" ng-switch-default>Your bookmarks<br>also available from<br> <b>desktop</b> & <b>mobile</b></div>
</div>
<a href="https://raindrop.io" target="_blank" desktop-browser style="position:absolute;top:0;left:0;width:50%;height:100%;"></a>