<div class="sub-title" trans="onlyInPro"></div>
<div style="margin-left: 33px;">
    <div class="light" trans="nestedCollections"></div>
    <div class="light" style="margin-top: 5px;" trans="dropboxBackup"></div>
</div>

<div class="ok-button"><a href="https://raindrop.io/static/love" desktop-browser target="_blank" class="btn" data-color="pink" ng-click="ads.close()" trans="goToPRO" style="border-radius: 30px;padding: 0px 20px;height: 28px;line-height: 27px;"></a></div>
<div class="ok-button" style="bottom: auto;top: 13px;"><a href="" class="btn" data-color="dark" ng-click="ads.close()" style="padding: 0;text-align: center;width: 26px;"><span class="icon" data-glyph="close" style="margin-left: 0px;opacity: .7;"></span></a></div>