@require "../const.styl";

.footer {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	background: colorLightGray;
	box-shadow: inset 0 var(--thin-border, 1px) 0px var(--thin-border-color, rgba(0,0,0,.1));
	padding: 4px (defaultGap/2 - 1px);

	.max {
		flex:1;
	}

	.button {
		color: colorGray;
		padding: 0 (defaultGap/2);
	}

	.badge {
		height: 16px;
		padding: 0 6px;
		background: red;
		border-radius: 8px;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 12px
		margin-left: -8px
	}
}