<div class="top">
	<div class="top-wrap"><div class="top-wrap-wrap">
		<div class="header header-height">
			<div class="table table-max desktop-show">
				<div class="cell">
					<!--href="#{{ (form.parent.$id ? 'bookmarks/'+form.parent.$id||0 : '' ) }}"-->
					<a href="" ng-click="actions.goBack();" tab-index="2" class="icon" data-glyph="back"></a>
				</div>
				<div class="cell cell-max">
					<h1 class="caption"><span trans="collectionNew" ng-show="worker.status=='new'"></span><span trans="edit" ng-show="worker.status=='edit'"></span></h1>
				</div>
				<div class="cell">
					<button tab-index="1" id="actionClose" class="icon" data-glyph="close" ng-click="actions.close()"></button>
				</div>
			</div>
		</div>

		<div class="cover-slider">
			<div class="cell cell-max">
				<div class="cover icon" data-glyph="collection-cover" style="width:96px;height:96px;" background-cover="form.cover[0]" background-cover-watch="true"></div>
				<div style="padding-top:13px">
					<a href="" class="mini-btn" ng-class="{'active': worker.step=='icons'}" ng-click="worker.step=(worker.step==''?'icons':'')" trans="changeIcon"></a>
				</div>
			</div>
		</div>

		<div class="cover-slider-shadow"></div>
	</div></div>
</div>

<div class="content no-animation" data-color="white"><div class="cell"><scrollable>
	<div class="" style="padding-top:59px;">
		<form ng-submit="worker.save()" class="edit-form" ng-show="worker.step==''">
			<h6 class="caption" trans="title"></h6>
			<div class="edit-form-block" style="min-height: 24px;">
				<input type="text" class="extra form-title" required tab-index="6" ng-model="form.title" placeholder="{{'enterTitle'|translate}}" maxlength="100" />
			</div>

			
			<h6 class="caption" trans="description"></h6>
			<div class="edit-form-block" style="min-height: 21px;">
				<textarea class="extra form-description" tab-index="7" msd-elastic ng-model="form.excerpt" placeholder="{{'enterDescription'|translate}}" maxlength="100"></textarea>
			</div>


			<h6 class="caption" trans="privacy"></h6>
			<div class="edit-form-block">
				<label><input type="radio" ng-model="form.public" value="0" id="publicFalse" />
				<strong trans="private"></strong> &mdash; <span trans="privateD"></span></label>
				<label><input type="radio" ng-model="form.public" value="1" id="publicTrue" />
				<strong trans="public"></strong> &mdash; <span trans="publicD"></span></label></label>
			</div>


			<h6 class="caption">
				<!--ul class="mini-changer pull-right">
					<li ng-class="{'active':worker.groupMode=='select'}" ng-click="worker.groupMode='select'">{{'select'|translate}}</li>
					<li ng-class="{'active':worker.groupMode=='create'}" ng-click="worker.groupMode='create';">{{'create'|translate}}</li>
				</ul-->
				<div trans="parent"></div><div class="clear"></div>
			</h6>
			<!--div class="edit-form-block" ng-switch="worker.groupMode" disable-animate>
				<div class="extra-select" ng-switch-when="select">
					<select ng-model="worker.group" ng-options="key as g.title for (key, g) in collections.items" required></select>
				</div>

				<input class="extra" type="text" autofocus focus-element="select" ng-switch-when="create" ng-model="worker.groupText" trans="createGroup" trans-attr="placeholder" required />
			</div-->

			<div class="edit-form-block">
				<a href="" class="extra-select" data-color="default" ng-click="worker.showParentsNow(true)" ng-hide="worker.showParents" style="display:block;padding:0">
					<div class="es-in">{{worker.parentText}}</div></a>
				<select-collection data-base="collections.items"
								   data-group="worker.group"
								   data-parent="form.parent"
								   data-disable-id="form._id"
								   data-enable-collections="user.me.pro"
								   ng-show="worker.showParents"
						></select-collection>
			</div>


			<div class="table table-max table-middle">
				<div class="cell cell-max center">
					<input tab-index="9" class="btn" style="display:block;width:100%;" data-color="green" autofocus type="submit" trans="save" trans-attr="value" ng-hide="worker.loading" />
					<span ng-show="worker.loading" class="spinner"><img src="img/icon-loading.png" alt="" /></span>
				</div>
				<div class="cell center" ng-show="form._id" style="padding-left:12px;">
					<a href="" ng-click="collections.removeItem(form._id);" tab-index="10" class="icon" data-glyph="remove"></a>
				</div>
			</div>
		</form>

		<div ng-show="worker.step=='icons'">

			<Br>
			<div class="select-icon-switch" ng-init="worker.iconType=''" ng-if="covers.templates.items.length>0">
				<div style="margin-bottom:10px;" class="subinfo"><span trans="selectAIconSet"></span>:</div>
				<a href="" ng-click="worker.iconType=''" ng-class="{'active':worker.iconType==''}"><span class="cover icon" data-glyph="collection-cover" background-cover="::(covers.templates.path+covers.templates.items[11]+'.png')" style="width:32px;height:32px;"></span></a>
				<a href="" ng-repeat="(key, pro) in covers.templates.pro" ng-click="worker.iconType=key" ng-class="{'active':worker.iconType==key}"><span class="cover icon" data-glyph="collection-cover" background-cover="::(covers.templates.path+pro[4]+'.png')" style="width:32px;height:32px;"></span></a>
			</div>

			<ul class="select-icon" ng-if="worker.iconType==''">
				<li class="item" ng-repeat="cover in covers.templates.items" ng-class="{'active':cover==form.cover_path}">
					<a href="" class="cover icon" data-glyph="collection-cover" background-cover="::(covers.templates.path+cover+'.png')" ng-click="covers.setCover(cover);"></a>
				</li>
				<li class="clear"></li>
			</ul>

			<div class="only-in-pro" ng-if="worker.iconType!=''">
				<div class="overlay-only-in-pro" ng-if="::(!user.me.pro)">
					<div class="box-in-pro">
						<h1 class="caption" trans="onlyInPro"></h1><Br>
						<a href="https://raindrop.io/static/pro" target="_blank" desktop-browser trans="goToPRO" class="btn" data-color="green"></a>
					</div>
				</div>
				<ul class="select-icon">
					<li class="item" ng-repeat="cover in covers.templates.pro[worker.iconType]" ng-class="{'active':cover==form.cover_path}">
						<a href="" class="cover icon" data-glyph="collection-cover" background-cover="::(covers.templates.path+cover+'.png')" ng-click="covers.setCover(cover);"></a>
					</li>
					<li class="clear"></li>
				</ul>
			</div>
		</div>
	</div>
</scrollable></div></div>