<div class="top">
	<div class="top-wrap"><div class="top-wrap-wrap">
		<div class="header header-padding">
			<div class="table table-max desktop-show">
				<div class="cell">
					<a ui-sref="app.index" tab-index="2" class="icon" data-glyph="back"></a>
				</div>
				<div class="cell cell-max">
					<h1 class="caption" trans="settings"></h1>
				</div>
				<div class="cell">
					<button tab-index="1" id="actionClose" class="icon " data-glyph="close" ng-click="actions.close()"></button>
				</div>
			</div>
		</div>
	</div></div>
</div>

<div class="content no-animation" data-color="white"><div class="cell"><scrollable>
	<div class="anim-translate">
		<form class="edit-form">
			<h6 class="caption" trans="commonSettings"></h6>
            <span class="extra-switch pull-right" data-status="{{user.me.config.ex_disable_animation ? '': 'on'}}" ng-click="worker.setConfig('ex_disable_animation')"><i></i></span>
            <h1 class="caption"><span trans="animation"></span></h1>
            <div class="clear"></div><br>

			<div class="e-desktop-hide">
				<span class="extra-switch pull-right" data-status="{{user.me.config.ex_open_links_in_new_tab ? '': 'on'}}" ng-click="worker.setConfig('ex_open_links_in_new_tab')"><i></i></span>
				<h1 class="caption"><span trans="openLinksInNewTab"></span></h1>
				<div class="clear"></div><br>

				<span class="extra-switch pull-right" data-status="{{user.me.config.ex_close_on_page_click ? '': 'on'}}" ng-click="worker.setConfig('ex_close_on_page_click')"><i></i></span>
				<h1 class="caption"><span trans="closeOnPageClick"></span></h1>
				<div class="clear"></div><br>

				<!--span class="extra-switch pull-right" data-status="{{user.me.config.ex_desktop_integration ? '': 'on'}}" ng-click="worker.setConfig('ex_desktop_integration')"><i></i></span>
				<h1 class="caption"><span trans="desktopIntegration"></span></h1>
				<div class="clear"></div><br-->
			</div>

			<div ng-if="environment.name=='desktop'">
				<span class="extra-switch pull-right" data-status="{{worker.Desktop.settings.dock ? 'on' : ''}}" ng-click="worker.Desktop.settings.dock = !worker.Desktop.settings.dock; worker.Desktop.save()"><i></i></span>
				<h1 class="caption"><span trans="showInDock"></span></h1>
				<div class="clear"></div><br>

				<span class="extra-switch pull-right" data-status="{{worker.Desktop.settings.tray ? 'on' : ''}}" ng-click="worker.Desktop.settings.tray = !worker.Desktop.settings.tray; worker.Desktop.save()"><i></i></span>
				<h1 class="caption"><span trans="showInTray"></span></h1>
				<div class="clear"></div><br>

				<span class="extra-switch pull-right" data-status="{{worker.Desktop.settings['always-on-top'] ? 'on' : ''}}" ng-click="worker.Desktop.settings['always-on-top'] = !worker.Desktop.settings['always-on-top']; worker.Desktop.save()"><i></i></span>
				<h1 class="caption"><span trans="alwaysOnTop"></span></h1>
				<div class="clear"></div><br>

				<span class="extra-switch pull-right" data-status="{{worker.Desktop.settings.blurhide ? 'on' : ''}}" ng-click="worker.Desktop.settings.blurhide = !worker.Desktop.settings.blurhide; worker.Desktop.save()"><i></i></span>
				<h1 class="caption"><span trans="blurHide"></span></h1>
				<div class="clear"></div><br>
			</div>

			<br>
			<h6 class="caption" trans="onlyInPro"></h6>
			<a href="https://raindrop.io/dropbox/revoke" target="_parent" desktop-browser class="extra-switch pull-right" data-status="on" ng-show="user.me.dropbox.enabled && user.me.pro"><i></i></a>
			<a href="https://raindrop.io/dropbox/authorize" target="_parent" desktop-browser class="extra-switch pull-right" data-status="" ng-show="!user.me.dropbox.enabled && user.me.pro"><i></i></a>
			<a href="https://raindrop.io/static/pro" target="_parent" desktop-browser class="extra-switch pull-right" data-status="" ng-show="!user.me.pro"><i></i></a>
			<h1 class="caption"><span trans="dropboxBackup"></span></h1>
			<div class="clear"></div><br>


            <br>
			<h6 class="caption" trans="language"></h6>
			<div class="edit-form-block">
				<div class="extra-select">
					<select ng-model="user.me.config.lang" ng-change="worker.setLanguage()">
						<option value="en_US">English</option>
						<option value="es_ES">Español</option>
						<option value="nl_NL">Nederlands</option>
						<option value="pl_PL">Polski</option>
						<option value="pt_BR">Português (Brasil)‎</option>
						<option value="ru_RU">Русский</option>
					</select>
				</div>
				<br>
				<div class="info-block">We love our international users, and we've worked hard to get Raindrop.io translated into as many languages as possible. But there's always more work to be done.
					<a href="https://crowdin.com/project/raindrop" target="_blank" desktop-browser>Help us in translation</a>!</div>
			</div>

			<br>
			<a href="../import/import.html#/?environment={{environment.name}}" target="_blank" class="btn openLink" data-color="default" trans="importBookmarks" id="importOnlyChrome"  safari-link></a>
			<a href="https://raindrop.io/other/import/import.html" target="_blank" class="btn" data-color="default" trans="importBookmarks" id="importAll"  safari-link></a>
			<br>
			<a href="https://raindrop.io/api/export" target="_self" download="raindrop-bookmarks.html" class="btn" data-color="default" trans="exportBookmarks" desktop-browser style="display:block"></a>
			<br>
			<a href="" ng-click="worker.logOut();" class="btn" data-color="pink" trans="logOut" style="display:block"></a>
		</form>
	</div>
</scrollable></div></div>