<div class="markup">
<div class="content no-animation">
	<div class="sign-content cell no-animation">
		<a href="" id="goBack" class="icon" data-glyph="back" ng-click="actions.goBack();"></a>
		<button id="actionClose" class="icon " data-glyph="close" ng-click="actions.close()"></button>
		<a href="https://raindrop.io" target="_blank"><img src="img/sign-logo.png" width="137" height="109" alt="" /></a>
		<h3 class="caption" trans="signUp"></h3>

		<div class="sign-wrap">
			<form ng-submit="login.save()" class="edit-form">
				<h6 class="caption" trans="name"></h6>
				<div class="edit-form-block">
					<input class="extra" tabindex="1" type="text" ng-model="login.form.fullName" required autofocus focus-element />
				</div>

				<h6 class="caption">E-mail</h6>
				<div class="edit-form-block">
					<input class="extra" tabindex="2" type="email" ng-model="login.form.email" required />
				</div>

				<h6 class="caption" trans="password"></h6>
				<div class="edit-form-block">
					<input class="extra" tabindex="3" type="password" ng-model="login.form.password" required />
				</div>

				<input class="btn" tabindex="4" data-color="pink" autofocus type="submit" trans="signUpEmail" trans-attr="value"  />

				<div ng-include="'templates/extra/social-login.html'"></div>
			</form>
		</div>
	</div>
</div>
</div>