<div class="markup">
<div class="content no-animation">
	<div class="sign-content cell">
		<button id="actionClose" class="icon " data-glyph="close" ng-click="actions.close()"></button>
		<a href="https://raindrop.io" target="_blank" desktop-browser><img src="img/sign-logo.png" width="137" height="109" alt="" /></a>
		<h3 class="caption" trans="smartBookmarks"></h3>

		<div class="sign-wrap" ng-switch="environment.name">
			<form ng-submit="login.save()" class="edit-form" ng-switch-when="desktop">
				<h6 class="caption">E-mail</h6>
				<div class="edit-form-block">
					<input class="extra" tabindex="1" type="email" name="login" id="sign-email" ng-model="login.form.email" required autofocus />
				</div>

				<h6 class="caption"><a href="https://raindrop.io/account/reset" tabindex="4" target="_blank" class="pull-right" trans="recoverPassword" desktop-browser></a><span trans="password"></span></h6>
				<div class="edit-form-block">
					<input class="extra" tabindex="2" type="password" name="password" id="sign-password" ng-model="login.form.password" required />
				</div>

				<input class="btn" tabindex="3" data-color="pink" autofocus type="submit" trans="signIn" trans-attr="value"  />

				<a href="#/signup" class="btn" data-color="common-dark" trans="signUpEmail"></a>

				<div ng-include="'templates/extra/social-login.html'"></div>
			</form>
			<div class="table table-max" ng-switch-default>
				<div class="cell" style="width: 45%;padding: 10px;">
					<a href="" ng-click="loginWindow('signin')" class="btn" data-color="pink" trans="signIn"></a>
				</div>
				<div class="cell" style="padding: 10px;">
					<a href="" ng-click="loginWindow('signup')" class="btn" data-color="common-dark" trans="signUpEmail"></a>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>