.svgIcon {
	display: inline-block;
	
	svg {
		display: block;
		width: 100%;
		height: 100%;
		fill: currentColor;
	}
	
	&.svgIcon-size-micro {
		width: 10px;
		height: 10px;
	}

	&.svgIcon-size-normal {
		width: 20px;
		height: 20px;
	}

	&.svgIcon-size-medium {
		width: 24px;
		height: 24px;
	}
}