.only-in-pro {
	padding: (defaultGap/2) defaultGap;
	background: var(--accentOverlay, rgba(colorTheme,.1));
	margin: (defaultGap/2) 0;
	box-shadow: inset 0 1px 0px rgba(0,0,0,.1);
	color: rgba(0,0,0,.7);
	cursor: pointer;
}