<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<title>Raindrop.io Mini</title>
	<meta name="google" value="notranslate" />
	<meta http-equiv="cleartype" content="on" />
	<link href="mini.css" rel="stylesheet">
	<script src="mini.js" type="text/javascript" charset="utf-8" async defer></script>
</head>
<body>
	<div id="actions">
		<a href="https://raindrop.io/app" target="_blank" tabindex="-1">
			<span>
				<svg width="10" height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg"><path d="M7.2928932 2H3.5c-.2761424 0-.5-.2238576-.5-.5s.2238576-.5.5-.5h5c.1380712 0 .2630712.0559644.3535534.1464466C8.9440356 1.2369288 9 1.3619288 9 1.5v5c0 .2761424-.2238576.5-.5.5S8 6.7761424 8 6.5V2.7071068L1.8535534 8.8535534c-.1952622.1952621-.5118446.1952621-.7071068 0-.1952621-.1952622-.1952621-.5118446 0-.7071068L7.2928932 2z" fill-rule="evenodd"/></svg>
			</span>
		</a>
		<a href="index.html#/settings" tabindex="-1">
			<span>
				<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.931094 14.416376l1.412827-.784904c.284218-.157899.627458-.167764.920276-.02645.134834.065071.273279.122501.414764.171982.306685.107256.542147.356819.631404.669218L9.754301 16h.491398l.443936-1.553778c.089257-.312399.324719-.561962.631404-.669218.141485-.049481.27993-.106911.414764-.171982.292818-.141314.636058-.131449.920276.02645l1.412827.784904.34747-.34747-.784904-1.412827c-.157899-.284218-.167764-.627458-.02645-.920276.065071-.134834.122501-.273279.171982-.414764.107256-.306685.356819-.542147.669218-.631404L16 10.245699v-.491398l-1.553778-.443936c-.312399-.089257-.561962-.324719-.669218-.631404-.049481-.141485-.106911-.27993-.171982-.414764-.141314-.292818-.131449-.636058.02645-.920276l.784904-1.412827-.34747-.34747-1.412827.784904c-.284218.157899-.627458.167764-.920276.02645-.134834-.065071-.273279-.122501-.414764-.171982-.306685-.107256-.542147-.356819-.631404-.669218L10.245699 4h-.491398l-.443936 1.553778c-.089257.312399-.324719.561962-.631404.669218-.141485.049481-.27993.106911-.414764.171982-.292818.141314-.636058.131449-.920276-.02645l-1.412827-.784904-.34747.34747.784904 1.412827c.157899.284218.167764.627458.02645.920276-.065071.134834-.122501.273279-.171982.414764-.107256.306685-.356819.542147-.669218.631404L4 9.754301v.491398l1.553778.443936c.312399.089257.561962.324719.669218.631404.049481.141485.106911.27993.171982.414764.141314.292818.131449.636058-.02645.920276l-.784904 1.412827.34747.34747zm-2.449956-3.278908C3.215413 11.061547 3 10.785965 3 10.495316v-.990632c0-.278729.217172-.566733.481138-.642152l1.797919-.513691c.062215-.177895.1342-.351202.215313-.519277L4.586157 6.19478c-.134211-.241581-.091666-.588766.113855-.794286l.700482-.700482c.197091-.197092.554305-.247178.794286-.113855l1.634784.908213c.168075-.081113.341382-.153098.519277-.215313l.513691-1.797919C8.938453 3.215413 9.214035 3 9.504684 3h.990632c.278729 0 .566733.217172.642152.481138l.513691 1.797919c.177895.062215.351202.1342.519277.215313l1.634784-.908213c.241581-.134211.588766-.091666.794286.113855l.700482.700482c.197092.197091.247178.554305.113855.794286l-.908213 1.634784c.081113.168075.153098.341382.215313.519277l1.797919.513691c.265725.075921.481138.351503.481138.642152v.990632c0 .278729-.217172.566733-.481138.642152l-1.797919.513691c-.062215.177895-.1342.351202-.215313.519277l.908213 1.634784c.134211.241581.091666.588766-.113855.794286l-.700482.700482c-.197091.197092-.554305.247178-.794286.113855l-1.634784-.908213c-.168075.081113-.341382.153098-.519277.215313l-.513691 1.797919c-.075921.265725-.351503.481138-.642152.481138h-.990632c-.278729 0-.566733-.217172-.642152-.481138l-.513691-1.797919c-.177895-.062215-.351202-.1342-.519277-.215313l-1.634784.908213c-.241581.134211-.588766.091666-.794286-.113855l-.700482-.700482c-.197092-.197091-.247178-.554305-.113855-.794286l.908213-1.634784c-.081113-.168075-.153098-.341382-.215313-.519277l-1.797919-.513691zM10 12c1.104569 0 2-.895431 2-2 0-1.104569-.895431-2-2-2-1.104569 0-2 .895431-2 2 0 1.104569.895431 2 2 2zm0 1c-1.656854 0-3-1.343146-3-3s1.343146-3 3-3 3 1.343146 3 3-1.343146 3-3 3z"/></svg>
			</span>
		</a>
	</div>
	<iframe id="iframe" src="<%= htmlWebpackPlugin.options.raindropURL %>"></iframe>
</body>
</html>