body {
	width: 602px;
	height: 600px;
	display: flex;
	padding:0;
	margin:0;
}

iframe {
	flex:1;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
}

a {
	text-decoration: none;
}

svg {
	fill: currentColor;
}

#actions {
	position: fixed;
	z-index:99;
	right:0;
	bottom:0;
	display: flex;
	white-space: nowrap;
	padding: 5px;
}

#actions a {
	padding: 5px;
	color: rgba(0,0,0,.6);
}

#actions a > span {
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 24px;
	box-shadow: 0 0 0 1px rgba(0,0,0,.13), 0 1px 1px rgba(0,0,0,.13);
	background: white;
}

#actions a:hover > span {
	color: white;
	background: #1988E0;
}