@-webkit-keyframes translateFromRight {
	0% { -webkit-transform: translateX(0); }
	100% { -webkit-transform: translateX(380px);}
}
@-moz-keyframes translateFromRight {
	0% { -moz-transform: translateX(0); }
	100% { -moz-transform: translateX(380px);}
}
@keyframes translateFromRight {
	0% { transform: translateX(0); }
	100% { transform: translateX(380px);}
}

@-webkit-keyframes translateToRight {
	0% { -webkit-transform: translateX(380px); }
	100% { -webkit-transform: translateX(0);}
}
@-moz-keyframes translateToRight {
	0% { -moz-transform: translateX(380px); }
	100% { -moz-transform: translateX(0);}
}
@keyframes translateToRight {
	0% { transform: translateX(380px); }
	100% { transform: translateX(0);}
}


@-webkit-keyframes maxWidth {
	0% { max-width: 100%; }
	100% { max-width: -webkit-calc(100% - 380px); }
}
@-moz-keyframes maxWidth {
	0% { max-width: 10000px; }
	100% { max-width: -moz-calc(100% - 380px); }
}
@keyframes maxWidth {
	0% { max-width: 10000px; }
	100% { max-width: calc(100% - 380px); }
}

div#inject-raindrop-popup {
	background: rgba(55, 60, 73, .98) !important;
	/*background-image: linear-gradient(to bottom, #313743 0%, #4e3f55 100%) !important;*/
	width: 380px !important;
	height: 100% !important;
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	bottom: auto !important;
	left: auto !important;
	display: none !important;
	/*overflow: hidden !important;*/
	box-shadow: -25px 0px 30px -5px rgba(0,0,0,.1), -1px 0px 0px rgba(0,0,0,.1) !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	opacity: 1 !important;
	visibility: visible !important;
	z-index: 999999999999 !important;

	animation: translateToRight .125s both ease-in-out !important;
	-webkit-animation: translateToRight .125s both ease-in-out !important;
	-moz-animation: translateToRight .125s both ease-in-out !important;
}
div#inject-raindrop-popup.irf-show {
	display: block !important;
}
div#inject-raindrop-popup.irf-hide {
	animation: translateFromRight .125s both ease-in-out !important;
	-webkit-animation: translateFromRight .125s both ease-in-out !important;
	-moz-animation: translateFromRight .125s both ease-in-out !important;
}
div#inject-raindrop-popup.iri-hidden {
	display: none !important;
}

div#inject-raindrop-popup.irf-white-background {
	background: white !important;
}



div#inject-raindrop-popup-maximize {
	display: block !important;
	width: 12px !important;
	height: 100% !important;
	position: absolute !important;
	right:380px !important;
	top:0 !important;

	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
	visibility: visible !important;
	bottom: auto !important;
	left: auto !important;
	box-shadow: 1px 0px 0px rgba(255,255,255,.07) !important;
	box-sizing: border-box !important;

	background: transparent !important;
	background-image: linear-gradient(to bottom, #292f39 0%, #423548 100%) !important;
	transition: opacity .01s linear !important;
	transition-delay: 0 !important;
	cursor: w-resize !important;
}
div#inject-raindrop-popup-maximize:hover {
	transition-delay: .3s !important;
	opacity: 1 !important;
}
div#inject-raindrop-popup-maximize:active {
	transition-delay: 0 !important;
	opacity: 0.9 !important;
	cursor: default !important;
}
html.inject-raindrop-popup-body-width #inject-raindrop-popup-maximize {
	cursor: e-resize !important;
}



div#inject-raindrop-popup-drop-zone {

	display: block !important;
	width: 380px !important;
	height: 100% !important;
	position: absolute !important;
	right:0 !important;
	top:0 !important;
	background: transparent !important;

	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	opacity: 1 !important;
	visibility: visible !important;
	bottom: auto !important;
	left: auto !important;
	opacity: 1 !important;
	box-shadow: none !important;
	box-sizing: border-box !important;
	transition: background .2s ease-in-out !important;
	padding: 10px !important;
}

div#inject-raindrop-popup-drop-zone.inject-raindrop-popup-over {
	background: rgba(0,0,0,.2) !important;
	border:1px dashed white;
}
div#inject-raindrop-popup-drop-zone.inject-raindrop-popup-over:after {
	width:100%;height: 100%;
	display: block;
	border: 1px dashed rgba(255,255,255,.3);
	content: " ";
}
div#inject-raindrop-popup:hover #inject-raindrop-popup-drop-zone {
	display: none !important;
}




iframe#inject-raindrop-popup-iframe {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	background: transparent !important;
	overflow: hidden !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	opacity: 1 !important;
	visibility: visible !important;
	position: static !important;
}
iframe#inject-raindrop-popup-iframe::-webkit-scrollbar {
	display: none !important;
}

/*@media only screen and (min-width: 1374px){*/
	html.inject-raindrop-popup-body-width {
		max-width: calc(100% - 380px) !important;
		max-width: -webkit-calc(100% - 380px) !important;
		max-width: -moz-calc(100% - 380px) !important;

		animation: maxWidth .125s both ease-in-out !important;
		-webkit-animation: maxWidth .125s both ease-in-out !important;
		-moz-animation: maxWidth .125s both ease-in-out !important;
	}
/*}*/